.bomb{
    margin: 0 0 20px 0;
    font-size: 12px;
}

p {
    font-size: 20px;
    margin: 0 25px 0 25px;
}

h3 {
    font-size: 30px;
}

img {
    width: 330px;
    height: auto;
    margin: -10px 0 0 0;
}