
p {
    font-size: 15px;
    text-align: left;
}

h3 {
    font-size: 30px;
    margin-top: 5px;
}

h2 {
    color: red;
    margin-top: -20px;
    margin-bottom: 25px;
}


h5 {
    font-size: 14px;
    margin-bottom: -20px;
    margin-top: -10px;
}

h6 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: -10px 0 0 0;
}

ul {
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
}

.page {
    padding: 25px;
    font-family: 'Arial', sans-serif;
}

.undertext {
    margin: 5px 0 25px 0;
    font-size: 12px;
    text-align: center;
}

.cover {
    font-style: italic;
}